.enter-text {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  color: rgb(9, 105, 250);
  margin-left: 10px;
  text-shadow: 1px 1px 2px black;
}

hr {
  width: 90%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.input {
  background-color: #fff;
  margin: 10px 10px 10px 10px;
  width: 95%;
  border-radius: 5px;
  padding: 7px;
}

.button {
  color: rgb(255, 255, 255);
  background-color: rgb(2, 204, 69);
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.clique-aqui {
  font-family: "Raleway", sans-serif;
}

.page-login-01 {
  display: inline-block;
  width: 50%;
  position: relative;
}

.page-login-02 {
  display: inline-block;
  width: 50%;
}

.login-input {
  justify-content: space-around;
  display: flex;
}

.row {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.e-0 {
  margin: 10px;
  margin-top: 15px;
}

*/ .buttonCadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.text-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  margin-top: 30px;
}

.nav-bar {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.background-image {
  background-image: url(https://iili.io/paqqZb.jpg);
  background-size: 100% auto;
  height: 40em;
  background-repeat: no-repeat;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 7px 7px rgba(119, 174, 255, 0.22);
  padding: 30px;
  margin: 20px;
  margin-right: 0;
  width: 80vh;
  transition: all 0.3s ease-out;
  background-color: white;
  border-left: 15px solid blue;
}

.title-news {
  width: 50%;
  font-family: "Raleway", sans-serif;
  color: blue;
  background-color: white;
}

.link {
  text-decoration: none;
}

.img-adilson {
  width: 100%;
  height: 100vh;
}

.div1 {
  display: flex;
  width: 100%;
  background-image: url(https://iili.io/HfuL3X9.png);
}
.div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 150px;
  padding-right: 350px;

  width: 50%;
}
.img-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-bottom: -50px;
}
.img1 {
  display: flex;
  align-items: flex-end;
  width: 75%;
  margin-bottom: 0px;
}
.text1 {
  width: 100%;
  font-size: 60px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}
.text2 {
  width: 100%;
  font-size: 30px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}

.text3 {
  width: 100%;
  font-size: 20px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}

.text4 {
  width: 100%;
  font-size: 15px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}

.text5 {
  width: 100%;
  font-size: 40px;
  text-align: left;
  padding-left: 300px;
  color: rgb(2, 204, 69);
  font-family: "Oswald", sans-serif;
}

.button {
  align-self: flex-start;
  width: 450px;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 900;
  background-color: blue;
  margin-bottom: 50px;
}

.conquistas {
  width: 100%;
  font-size: 30px;
  font-family: "Oswald", sans-serif;
}

.div-foto {
  width: 30%;
  background-color: royalblue;
  display: flex;
}

.div-fotos {
  width: 50%;
  display: flex;
}

.foto-trofeu {
  width: auto;
  padding-top: 50px;
}

.texto-votos {
  width: 70%;
  font-size: 30px;
  background-color: royalblue;
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
}

.votos-geral {
  width: 100%;
  display: flex;
}

.conquistas-geral {
  width: 100%;
  display: flex;
}

.conquistas-geral1 {
  width: 50%;
  display: block;
}

.text-list {
  width: 100%;
  font-size: 30px;
  color: blue;
  font-family: "Oswald", sans-serif;
}

.lista-geral {
  width: 100%;
  font-size: 30px;
  color: rgb(2, 204, 69);
  font-family: "Oswald", sans-serif;
}

.numero-votos {
  width: 100%;
  font-size: 100px;
  padding-top: 50px;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.texto-eleicoes {
  width: 100%;
  font-size: 15px;
  padding-bottom: 50px;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.lista {
  width: 100%;
  font-size: 30px;
  padding-left: 150px;
  text-align: left;
  font-family: "Oswald", sans-serif;
}

.button-li {
  border: none;
  border-radius: 25px;
  background-color: blue;
  line-height: 0.5;
}

/* * {box-sizing:border-box} */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.text-li {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

ul {
  display: flex;
  gap: 5px;
}

.titulo {
  width: 50%;
  font-family: "Raleway", sans-serif;
  color: bisque;
  margin-left: 650px;
}

.noticia {
  width: 50%;
  font-family: "Raleway", sans-serif;
  color: bisque;
  margin-left: 650px;
}

.justify-center {
  justify-content: center;
  display: flex;
}
