/* Geral */

/* * {
  background-color: #fff;
} */
/* Login */

.input-field {
  width: 100%;
  background-color: blue;
  border: none;
}

.welcome-text {
  font-family: 'Raleway', sans-serif;
  color: #000;
  padding-bottom: 10px;
  justify-content: center;
  background-color: cornflowerblue;
}

.welcome-text-01 {
  font-family: 'Raleway', sans-serif;
  color: #000;
  font-size: 20px;
}

.enter-text {
  font-family: 'Raleway', sans-serif;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  color: rgb(9, 105, 250);
  margin-left: 10px;
  text-shadow: 1px 1px 2px black
}

hr {
  width: 90%;
  margin-top: 25px;
  margin-bottom: 25px;
  
}

.input-name {
  color: #000;
}

.input {
  background-color: #fff;
  margin: 10px 10px 10px 10px;
  width: 95%;
  border-radius: 5px;
  padding: 7px;
}

.button {
  color: rgb(255, 255, 255);
  background-color: rgb(2, 204, 69);
  width: 100px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

/* .button:hover{
  background-color: #fff;
  font-weight: bold;
} */

.clique-aqui {
  font-family: 'Raleway', sans-serif;
}

.photo {
  width: 100%;
  height: 450px;
  top: 0;
  left: 0;
}

.photo-cam {
  width: 100%;
  height: 100vh;
  opacity: 0.8;
  position: absolute;
  display: inline-block;
}

.page-login-01 {
  display: inline-block;
  width: 50%;
  position: relative;
}

.page-login-02 {
  display: inline-block;
  width: 50%;
}

.login-input {
  justify-content: space-around;
  display: flex;
}

.row {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.e-0 {
  margin: 10px;
  margin-top: 15px;
}

/* SignUp */

.signup-welcome-text {
  font-family: 'Raleway', sans-serif;
  background-color: cornflowerblue;
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  text-shadow: 1px 1px 2px black
  /* margin-left: 250px; */
}

.buttonCadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.text-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  margin-top: 30px;
}

.signup-label {
  color: black;
}

.signup-input {
  background-color: aliceblue;
  width: 30%;
  size: 30px;
}

.signup-form {
  /* width: 100%; */
  justify-content: space-around;
  display: flex;
  /* background-color: cornflowerblue; */
}

.signup-button {
  justify-content: space-around;
  display: flex;
  background-color: rgb(2, 204, 69);
  /* width: 30%; */
  /* margin-left: 500px; */
}

/* User News */

.page {
  margin: 0;
  width: 100%;
  min-height: 100%;
  background-color: white;
}

.usernews-welcome-text {
  font-family: 'Raleway', sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  text-shadow: 1px 1px 2px black
}

.imageOpinion{
  /* background-image: url("https://iili.io/mBNXNj.png"); */
  background-color: #cccccc;
  width: 1200px;
  height: 500px;
  align-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.7;
}

.card {
  border-radius: 5px;
  box-shadow: 7px 7px 7px 7px rgba(119, 174, 255, 0.22);
  padding: 30px;
  margin: 20px;
  margin-right: 0;
  width: 80vh;
  transition: all 0.3s ease-out;
  background-color: white;
  border-left: 15px solid blue
}

.title-news {
  width: 50%;
  font-family: 'Raleway', sans-serif;
  color: blue;
  background-color: white;
}

.link {
  text-decoration: none;
}

.news-input {
  background-color: white;
  width: 50%;
  size: 100px;
}

.sugestão-input{
  display: block;
  background-color: #fff;
  margin: 10px 10px 10px 10px;
  width: 90%;
  border-radius: 7px;
  padding: 10px;
}

.textarea-user{
  background-image: url("https://iili.io/mBNXNj.png");
  background-size: cover;
  background-clip: content-box;
  background-repeat: no-repeat;
  width: 250%;
  height: 400px;
  display: flex;
  margin: 25px 0 25px 25px;
}

.sugestão {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  justify-content: center;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}


/* .button{
  justify-content: center;
} */

.usernews-button {
  color: rgb(255, 255, 255);
  background-color: rgb(2, 204, 69);
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

.sugestoes {
  font-family: 'Raleway', sans-serif;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.22);
  background-color: #fff;
  margin: 10px 10px 10px 10px;
  width: 80vh;
  border-radius: 5px;
  padding: 7px;
  border-left: 10px solid blue
}

.img-adilson {
  width: 100%;
  height: 100vh;
}

/* Read News */

.titulo {
  width: 50%;
  font-family: 'Raleway', sans-serif;
  color: bisque;
  margin-left: 650px;
}

.noticia {
  width: 50%;
  font-family: 'Raleway', sans-serif;
  color: bisque;
  margin-left: 650px;
}

/* JUSTIFY-CONTENT */

.justify-center {
  justify-content: center;
  display: flex;
}

/* PADDING */

.pad-10 {
  padding: 10px;
}