/* Geral */

* {
  background-color: #fff;
}
/* Login */

.input-field{
  width: 100%;
  background-color: blue;
  border: none;
}

.welcome-text {
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #000;
  padding-bottom: 10px;
}

.welcome-text-01 {
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #000;
  font-size: 20px;
}

.enter-text {
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  color: blue;
  margin-left: 10px
}

hr {
  width: 90%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.input-name {
  color: #000;
}

.input {
  background-color: #fff;
  margin: 10px 10px 10px 10px;
  width: 95%;
  border-radius: 5px;
  padding: 7px;
}

.button {
  color: black;
  background-color: #fff;
  width: 10%;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;

}

.button:hover{
  background-color: #fff;
  font-weight: bold;
}

.clique-aqui {
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.photo{
  width: 100%;
  height: 450px; 
  top:0;
  left:0
}

.photo-cam {
  width: 100%;
  height: auto;
  opacity: 0.07;
  position: absolute;
  display: inline-block;
}

.page-login-01 {
  display: inline-block;
  width: 60%;
  position: relative;
}

.page-login-02{
  display: inline-block;
  width: 40%;
}

.login-input {
  justify-content: space-around;
  display: flex;
}

.row {
  
  display: flex;
  flex-wrap: wrap;
  
}

.e-0 {
    margin: 10px
}

/* SignUp */

.signup-welcome-text {
  background-image: 'https://freeimage.host/i/bBNwmX';
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: white;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-left: 320px;
}

.signup-label {
  color: white;
}

.signup-input {
  background-color: aliceblue;
  width: 100%;
  size: 30px;
}

.signup-form {
  width: 50%;
  margin-left: 350px;
}

.signup-button {
  color: black;
  background-color: antiquewhite;
  width: 30%;
  margin-left: 500px;
}

/* User News */

.usernews-welcome-text {
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: white;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-left: 450px;
}

.title-news {
  width: 50%;
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: bisque;
}

.news-input {
  background-color: aliceblue;
  width: 50%;
  size: 30px;
}

.sugestao {
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.usernews-button {
  color: black;
  background-color: antiquewhite;
  width: 30%;
  margin-left: 500px;
}

.sugestoes {
  width: 50%;
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: bisque;
  margin-left: 600px;
}

/* Read News */

.titulo{
  width: 50%;
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: bisque;
  margin-left: 650px;
}

.noticia{
  width: 50%;
  font-family: "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: bisque;
  margin-left: 650px;
}

/* JUSTIFY-CONTENT */

.justify-center{
  justify-content: center;
  display:flex;
}

/* PADDING */

.pad-10 {
  padding: 10px
}